.profile-group{
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    justify-content: end;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    /* position: sticky; */
    top: 0;
    margin-right: 0;
    z-index: 1000;
    width: 100%;
}
.profile-group nav a {
    color: var(--dark);
}

.profile-group .nav-link {
    font-size: 16px;
    transition: .3s ease;
}

.profile-group  .nav-link:hover {
    color: var(--blue);
}
.profile-group .switch-mode {
    display: block;
    min-width: 50px;
    height: 25px;
    border-radius: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
}

.profile-group  .switch-mode::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--blue);
    border-radius: 50%;
    transition: all .3s ease;
}

.profile-group  #switch-mode:checked+.switch-mode::before {
    left: calc(100% - (25px - 4px) - 2px);
}
.profile-group::before {
    content: '';
    /* position: absolute; */
    width: 40px;
    height: 40px;
    bottom: -40px;
    right: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.profile-group a {
    color: var(--dark);
}


